.message {

}

.imageAndText {
    display: flex;
}

.imageAndText img {
    width: 48px;
}

.text {
    background-color: #0066CC;
    border-radius: 10px;
}

.text:after {

}

.name {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.messageText {

    font-size: 16px;
    font-weight: 400;
    color: white;


}

.time {

}