.friendMessage {
    display: flex;
    flex-direction: column;
}

.friendImageAndText {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    margin-top: 12px;
}

.friendText {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FB;
    border-radius: 10px 10px 10px 0;
    position: relative;
    max-width: 650px;

}

.friendText:after {
    content: '';
    position: absolute;
    top: 44px;
    left: -12.7px;
    border-bottom: 14px solid #F5F7FB;
    border-left: 13px solid rgba(0, 0, 0, 0);
    width: 0;
}

.friendName {
    font-family: 'Montserrat', sans-serif;
    padding: 5px 10px 0 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
}

.friendMessageText {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px 5px 10px;
    font-size: 16px;
    font-weight: 300;
}

.friendTime {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-left: 9px;
    margin-bottom: 24px;
    font-weight: bold;
}
